<mat-toolbar color="primary">
  <span>Crud Application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button style="margin-left: auto" (click)="addEmploye()">ADD EMPLOYEE</button>
</mat-toolbar>

<div *ngIf="stateObs | async as state" class="main-body">
  <div class="table-container">
    <table mat-table [dataSource]="state.listData">
      <ng-container *ngFor="let item of state.displayColumnsList">
        <ng-container [ngSwitch]="item.name">
          <ng-container *ngSwitchCase="'Action'" [matColumnDef]="item.nameKey">
            <th mat-header-cell *matHeaderCellDef>{{ item.name }}</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="warn"
                (click)="deleteEmployee(row.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container *ngSwitchDefault [matColumnDef]="item.nameKey">
            <th mat-header-cell *matHeaderCellDef>{{ item.name }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element[item.nameKey] }}
            </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="state.displayColumnsList | displayColumnName"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: state.displayColumnsList | displayColumnName
        "
      ></tr>
    </table>
  </div>
</div>
